<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Parks&Recreation 2023 <br> Feito com base no projeto YelpCamp, de Colt Steele </span>
    </div>
</footer>